.news {
  &__item {
    display: flex;
    gap: 50px;

    @media (max-width: 1023px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__image {
    width: 50%;

    @media (max-width: 1023px) {
      width: 100%;
    }
  }

  &__body {
    width: 50%;

    @media (max-width: 1023px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;

    @media (max-width: 767px) {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text {
    color: $dark-gray;
    font-size: 16px;
    line-height: 24px;
  }

  &__footer {
    display: flex;
    gap: 16px;
    font-size: 12.8px;
    line-height: 19px;
  }

  &__author {
    color: $orange;
    text-transform: uppercase;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    height: 53px;
    padding: 16px 30px;
    border: 1px solid $dark-gray;
    color: $gray;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
