html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

section {
  box-sizing: content-box;
}

body {
  position: relative;
  color: #cacaca;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background: #08020d;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}
@media (min-width: 320px) and (max-width: 424px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
}
@media (min-width: 320px) and (max-width: 424px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .container {
    max-width: 100%;
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-middle {
  vertical-align: middle;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.fz-11 {
  font-size: 11px;
}

.fz-16 {
  font-size: 16px;
}

.fz-30 {
  font-size: 30px;
}

.fz-60 {
  font-size: 60px;
}

.lh-24 {
  line-height: 24px;
}

.lh-60 {
  line-height: 60px;
}

.w-50 {
  width: 50%;
}

.mw-100 {
  max-width: 100%;
}

.gap-24 {
  gap: 24px;
}

.gap-40 {
  gap: 40px;
}

@media (max-width: 1023px) {
  .order-lg {
    order: 1;
  }
}

@media (max-width: 1023px) {
  .mobile-width-lg {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .mobile-lg {
    flex-direction: column;
    gap: 0;
  }
}
.btn {
  padding: 20px 30px;
  border-radius: 5px;
}

.btn-download {
  display: inline-flex;
  align-items: center;
  height: 53px;
  padding: 16px 40px;
  border: none;
  border-radius: 32px;
  color: #fff;
  font-weight: normal;
  font-size: 12.8px;
  background-color: #95390c;
}

.pbt-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.pbt-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-65 {
  padding-top: 64px;
}

.pt-100 {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .pb-sm-16 {
    padding-bottom: 16px;
  }
}
.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .header__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 90px;
}
@media (max-width: 1023px) {
  .header__main {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__logo {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  column-gap: 24px;
}
.header__menu a {
  color: #cacaca;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 1023px) {
  .header__menu {
    flex-direction: column;
    margin: 10px 0 18px 0;
  }
}
.header__search {
  width: 250px;
  height: 25px;
  padding: 5px 10px;
  border-style: none;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  background: #3c3b3d;
  outline: none;
}
@media (max-width: 1023px) {
  .header__search {
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .header__search {
    width: 100%;
  }
}

.section-bg {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subscription__title {
  width: 100%;
}
@media (max-width: 767px) {
  .subscription__title {
    margin-top: 48px;
  }
}
.subscription__subtitle {
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .subscription__subtitle {
    margin-bottom: 16px;
  }
}
.subscription__text {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
}
.subscription__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
}
.subscription__input {
  min-width: 270px;
  height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  color: #cacaca;
  font-size: 14px;
  background: none;
  outline: none;
}
@media (max-width: 767px) {
  .subscription__input {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
.subscription__input::placeholder {
  color: #fff;
}
.subscription__btn {
  width: 100%;
  height: 57px;
  border: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #34c176;
  outline: none;
}

.bg-free {
  background-image: url(../images/subscribe_1.png);
}

.bg-standard {
  background-image: url(../images/subscribe_2.png);
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .pricing {
    gap: 50px;
    justify-content: center;
  }
}
.pricing__item {
  display: flex;
  flex: 0 1 366px;
  flex-direction: column;
  padding: 0 1.5rem;
  border-radius: 1rem;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .pricing__item {
    width: 32%;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .pricing__item {
    width: 80%;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .pricing__item {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .pricing__item {
    width: 100%;
  }
}
.pricing__title {
  margin-top: 24px;
  margin-bottom: 200px;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 414px) {
  .pricing__title {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }
}
.pricing .price {
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}
.pricing__value {
  display: flex;
  justify-content: center;
  font-size: 32px;
  text-transform: uppercase;
}
.pricing__button {
  height: 66px;
  margin-bottom: 64px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
}
.pricing__footer {
  height: 57px;
  margin-bottom: 64px;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
}
.pricing__description {
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.news__item {
  display: flex;
  gap: 50px;
}
@media (max-width: 1023px) {
  .news__item {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.news__image {
  width: 50%;
}
@media (max-width: 1023px) {
  .news__image {
    width: 100%;
  }
}
.news__body {
  width: 50%;
}
@media (max-width: 1023px) {
  .news__body {
    width: 100%;
  }
}
.news__title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .news__title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
  }
}
.news__text {
  color: #cacaca;
  font-size: 16px;
  line-height: 24px;
}
.news__footer {
  display: flex;
  gap: 16px;
  font-size: 12.8px;
  line-height: 19px;
}
.news__author {
  color: #f89202;
  text-transform: uppercase;
}
.news__button {
  display: inline-flex;
  align-items: center;
  height: 53px;
  padding: 16px 30px;
  border: 1px solid #cacaca;
  color: #e0e0e0;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer {
  background: linear-gradient(89.02deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer .container {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 1240px) {
  .footer .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.footer__top {
  display: flex;
  gap: 40px;
  padding-top: 62px;
  padding-bottom: 72px;
}
@media (max-width: 1023px) {
  .footer__top {
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
}
.footer__column {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer__column {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer__column {
    width: 100%;
  }
}
.footer__heading {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
.footer__link {
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.footer__bottom {
  padding-top: 40px;
  padding-bottom: 48px;
  border-top: solid 1px #fff;
}
.footer__menu {
  display: flex;
  gap: 18px;
}
@media (max-width: 767px) {
  .footer__menu {
    flex-direction: column;
    gap: 16px;
    margin-right: 16px;
  }
}

.artist-bg {
  background-image: url(../images/MortenHarket.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.artist-name {
  margin-top: 50px;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .artist-name {
    margin-top: 25px;
  }
}

.artist-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 200px;
  height: 62px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12.8px;
  text-transform: uppercase;
}

.play-btn {
  position: relative;
  background-color: #5328a1;
}
.play-btn::before {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url(../images/play-button.svg);
  content: "";
}

.like-btn {
  position: relative;
  background-color: #95390c;
}
.like-btn::before {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url(../images/heart.svg);
  content: "";
}

.track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12.8px;
  line-height: 19.2px;
}
.track__cover {
  width: 55px;
  height: 55px;
  margin-right: 16px;
}
.track__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.track__title {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.album__title {
  margin-top: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -1px;
  text-transform: capitalize;
}
.album__year {
  color: #e0e0e0;
  font-size: 18px;
  line-height: 24px;
}
.album__image {
  display: block;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
}
@media (max-width: 767px) {
  .album__image {
    max-width: 137px;
    max-height: 137px;
  }
}

.track-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, minmax(200px, 550px));
  justify-content: start;
  column-gap: 50px;
  row-gap: 25px;
}
@media (max-width: 767px) {
  .track-grid {
    grid-template-columns: 1fr;
  }
}

.grid-discography {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 50px;
  row-gap: 25px;
}
@media (max-width: 767px) {
  .grid-discography {
    grid-template-columns: repeat(auto-fit, 137px);
  }
}

/*# sourceMappingURL=app.css.map */
