input[type="text"]::-webkit-input-placeholder {
    color: $palette-text-primary;
}

.main-page-access-container {
    text-align: center;
    text-transform: uppercase;
    @include max-media(ms) {
        padding-top: 70px;
        padding-bottom: 50px;
    }
}

.main-page-access-container-m {
    @include max-media(m) {
        padding-top: 130px;
        padding-bottom: 100px;
    }
}

.main-page-access-container-ml {
    @include max-media(ml) {
        padding-top: 170px;
        padding-bottom: 200px;
    }
}

.main-page-access-container-l {
    @include media(ml) {
        padding-top: 230px;
        padding-bottom: 250px;
    }
}

.main-page-access {
    &-form-container {
        display: flex;
        justify-content: space-between;
        max-width: 570px;
        width: 280px;
        flex-wrap: wrap;
    }
    &-inputs {
        margin-bottom: 20px;
        color: $palette-text-primary;
        padding: 15px;
        height: 50px;
        width: 280px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        border-radius: 3px;
        @media (min-width: 768px) {
            margin-bottom: 0px;
            width: 270px;
        }
    }
}

.main-page-access-form-container-m {
    @include media(m) {
        width: 570px;
    }
}