.mobile-application-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.mobile-application-container-m {
    @include media(m) {
        flex-direction: row;
    }
}

.mobile-application-text-container {
    width: 280px;
    color: $palette-is-not-active-link;
}

.mobile-application-text-container-xm {
    @include media(xm) {
        width: 400px;
    }
}

.mobile-application-text-container-m {
    @include media(m) {
        width: 340px;
    }
}

.mobile-application-text-container-l {
    @include media(l) {
        width: 570px;
    }
}