.b-similiar-artists-container {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.similiar-artists-styles {
    height: 200px;
    width: 120px;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        height: 250px;
        width: 190px;
    }
    @media (min-width: 1280px) {
        height: 310px;
        width: 250px;
    }
}

.artists-avatar-styles {
    height: 130px;
    width: 130px;
    @media (min-width: 768px) {
        height: 190px;
        width: 190px;
    }
    @media (min-width: 1280px) {
        height: 250px;
        width: 250px;
    }
}