h1 {
    text-transform: uppercase;
    font-size: 30px;
    @media (min-width: 1280px) {
        font-size: 60px;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    @media (min-width: 768px) {
       font-size: 29px;
    }      
    @media (min-width: 1024px) {
        font-size: 38px;
    }      
}

.h3 {
    font-size: 30px;
}

.fsz11 {
    font-size: 11px;
}

.fsz14 {
    font-size: 14px;
}

.fsz16 {
    font-size: 16px;
}

.lh200 {
    line-height: 200%;
}

.fsz-mob18-desk30 {
    font-size: 18px;
    @media (min-width: 1280px) {
        font-size: 30px;
    }
}

.fsz-mob12-desk18 {
    font-size: 12px;
    @media (min-width: 768px) {
        font-size: 18px;
    }
}

.fsz-mob16-desk24 {
    font-size: 14px;
    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

.fsz-mob14-desk20 {
    font-size: 14px;
    @media (min-width: 1024px) {
        font-size: 20px;
    }
}

.fsz-mob14-desk18 {
    font-size: 14px;
    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

.fsz-16-24 {
    font-size: 16px;
    @media (min-width: 1024px) {
        font-size: 24px;
    }
}

.fsz-mob12-desk22 {
    font-size: 12px;
    @media (min-width: 1024px) {
        font-size: 22px;
    }
}

.fsz-mob12-desk24 {
    font-size: 12px;
    @media (min-width: 1024px) {
        font-size: 24px;
    }
}

.fsz30 {
    font-size: 30px;
}

.fsz60 {
    font-size: 60px;
}

.txt-up {
    text-transform: uppercase;
}

.txt-low {
    text-transform: lowercase;
}
