$x-font-stack: Roboto, sans-serif;

$x-black: #08020D;
$x-white: #FFFFFF;
$x-light-grey: #808080;
$x-grey: #8C8C8C;
$x-asphalt-grey: #3C3B3D;
$x-salat-green: #34C176;
$x-malina-red: #FF4157;
$x-transparent-white: rgba(255, 255, 255, 0.1);
$x-yellow: #F89202;
$x-peal-white: #CACACA;
$x-lenear-gradient: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);
$x-violet: #5328a1;
$x-dark-orange: #95390c;

$font--famaly-primary: $x-font-stack;

$palette-background-primary: $x-black;
$palette-background-secondary: $x-lenear-gradient;

$palette-text-primary: $x-white;
$palette-text-secondary: $x-peal-white;
$palette-text-news: $x-grey;

$palette-button-access: $x-salat-green;
$palette-button-download-app: $x-malina-red;
$palette-button-mix: $x-violet;
$palette-button-select: $x-dark-orange;

$palette-search-form-background: $x-asphalt-grey;

$palette-is-not-active-link: $x-light-grey;
$palette-is-active-link: $x-white;

$palette-inputs: $x-transparent-white;

$palette-news-music-box: $x-yellow;
$palette-footer: $x-lenear-gradient;

$breakpoints: (
  breakpoint-s: 320px,
  breakpoint-xs: 375px,
  breakpoint-ms: 425px,
  breakpoint-xm: 540px,
  breakpoint-m: 768px,
  breakpoint-ml: 1024px,
  breakpoint-l: 1280px
);

@mixin element {
    @content;
 }
 
@mixin media($var) {
    $string: map-get($breakpoints, breakpoint-#{$var});
       @media (min-width: $string) {
       @content;
     }
}

@mixin max-media($var) {
    $string: map-get($breakpoints, breakpoint-#{$var});
       @media (max-width: $string) {
       @content;
     }
}